mat-toolbar {
    position: fixed;
    z-index: 2;
    padding: 0;
}

.flex-spacer{
    display: block;
    flex-grow: 1;
}

p {
    font-family: "Helvetica Neue",sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 16px;
}

