<mat-card mat-dialog-content>
        <mat-card-content>
            <p id="bookTitle">Title: {{ book.volumeInfo.title }}</p>
            <p>By (authors): {{ book.volumeInfo.authors }}</p>
            <p>Category: {{ this.book.volumeInfo.categories }}</p>
            <p>Publisher: {{ this.book.volumeInfo.publisher }} , {{ this.book.volumeInfo.publishedDate }}</p>
            <p>Pages: {{ this.book.volumeInfo.pageCount }}</p>
        </mat-card-content>
        <div>
            <img *ngIf="book.volumeInfo.imageLinks === undefined" src="../../assets/image/no_cover_thumb.gif"
                [alt]="book.volumeInfo.title">
            <img *ngIf="book.volumeInfo.imageLinks !== undefined" [src]="book.volumeInfo.imageLinks.thumbnail"
                [alt]="book.volumeInfo.title">
        </div>
</mat-card>
<button mat-button color="primary" (click)="wishlistAction()">{{ wishListAction }}</button>